@inherits RazorSlice<AdmonitionViewModel>
<div class="admonition @Model.Directive @Model.Classes" id="@Model.CrossReferenceName" open="@Model.Open">
	<p class="admonition-title">@Model.Title</p>
	[CONTENT]
</div>
