@using Elastic.Markdown.Myst.FrontMatter
@inherits RazorSlice<Elastic.Markdown.Slices.Components.ApplicableToViewModel>

@{
	var appliesTo = Model.AppliesTo;
}

@if (appliesTo.Stack is not null)
{
	@RenderProduct("Elastic Stack", appliesTo.Stack)
}
@if (appliesTo.Deployment is not null)
{
	if (appliesTo.Deployment.Ece is not null)
	{
		@RenderProduct("ECE", appliesTo.Deployment.Ece)
	}
	if (appliesTo.Deployment.Eck is not null)
	{
		@RenderProduct("ECK", appliesTo.Deployment.Eck)
	}
	if (appliesTo.Deployment.Ess is not null)
	{
		@RenderProduct("Elastic Cloud Hosted", appliesTo.Deployment.Ess)
	}
	if (appliesTo.Deployment.Self is not null)
	{
		@RenderProduct("Self Managed", appliesTo.Deployment.Self)
	}
}
@if (appliesTo.Serverless is not null)
{
	if (appliesTo.Serverless.AllProjects is not null)
	{
		@RenderProduct("Serverless", appliesTo.Serverless.AllProjects)
	}
	else
	{
		if (appliesTo.Serverless.Elasticsearch is not null)
		{
			@RenderProduct("Serverless Elasticsearch", appliesTo.Serverless.Elasticsearch)
		}
		if (appliesTo.Serverless.Observability is not null)
		{
			@RenderProduct("Serverless Observability", appliesTo.Serverless.Observability)
		}
		if (appliesTo.Serverless.Security is not null)
		{
			@RenderProduct("Serverless Security", appliesTo.Serverless.Security)
		}

	}

}
@if (appliesTo.Product is not null)
{
	@RenderProduct("", appliesTo.Product)
}

@functions {

	private IHtmlContent RenderProduct(string name, AppliesCollection applications)
	{
		foreach (var applicability in applications)
		{
			var lifecycleClass = applicability.GetLifeCycleName().ToLowerInvariant().Replace(" ", "-");
			<span class="applicable-info">
				@name
				<span class="applicable-meta applicable-meta-@lifecycleClass">
				@if (applicability.Lifecycle != ProductLifecycle.GenerallyAvailable)
				{
					<span class="applicable-lifecycle applicable-lifecycle-@lifecycleClass">@applicability.GetLifeCycleName()</span>
				}
				@if (applicability.Version is not null and not AllVersions)
				{
					<span class="applicable-version applicable-version-@lifecycleClass">@applicability.Version</span>
				}
				</span>
			</span>
		}
		return HtmlString.Empty;
	}
}