@inherits RazorLayoutSlice<LayoutViewModel>
@if (Model.IsRedesign)
{
	<!DOCTYPE html>
	<html lang="en" class="h-screen">
	<head>
		<title>@Model.Title</title>
		<link rel="stylesheet" type="text/css" href="@Model.Static("styles.css")"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="@(Model.AllowIndexing ? "index, follow" : "noindex, nofollow")">
	</head>
	
	<body class="text-ink">
	<section class="h-9 bg-black"></section>
	<header class="sticky top-0 bg-blue-developer max-w-screen px-6 pb-6 flex items-center justify-center">
		<div class="container flex flex-wrap lg:flex-nowrap">
			<div class="h-10 mt-6 basis-full lg:basis-auto">
				<img src="@Model.Static("logo-elastic-horizontal-color-reverse.svg")" alt="Elastic" class="h-10">
			</div>
			<form role="search" class="hidden lg:block grow basis-full lg:basis-auto shrink-0 mt-6 lg:mx-10 h-10" autocomplete="off">
				<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
				<div class="relative h-10">
					<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none ml-2">
						<svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
						</svg>
					</div>
					<div class="rounded-full bg-linear-65 from-pink/[.4] to-teal/[.4] p-[2px] h-10">
						<input type="search" id="default-search" class="flex items-center h-full w-full p-2 ps-10 text-center bg-[#081335] rounded-full focus-visible:outline-[blue]/[.3] focus-visible:outline-2 truncate text-ellipsis text-white" placeholder="Try searching a document here..." required/>
					</div>
				</div>
			</form>
			<div class="flex grow lg:flex-none h-10 mt-6">
				<a href="https://cloud.elastic.co/registration" class="grow select-none cursor-pointer text-white text-nowrap bg-blue-elastic hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold rounded-sm px-6 py-2.5 me-3 focus:outline-none h-10 flex items-center justify-center">Start free trial</a>
				<a href="https://elastic.co/contact" class="grow cursor-pointer text-white text-nowrap border-2 border-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-sm px-6 py-2.5 text-center h-10 flex items-center justify-center">Contact Sales</a>
			</div>
		</div>
	</header>
	<main class="container mx-auto">
		
		<div class="markdown-content w-[100ch] max-w-screen mx-auto pt-6 pb-6 px-6">
			<ol class="flex-1 mb-6" itemscope="" itemtype="https://schema.org/BreadcrumbList">
				<li class="inline text-gray-500" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
					<a itemprop="item" href="/">
						<span itemprop="name">Elastic</span>
					</a>
					<span>/</span>
					<meta itemprop="position" content="1">
				</li>
				@foreach (var item in Model.Parents.Reverse())
				{
					<li class="inline text-gray-500" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a itemprop="item" href="@item.Url">
							<span itemprop="name">@item.NavigationTitle</span>
						</a>
						<span>/</span>
						<meta itemprop="position" content="2">
					</li>
				}
			</ol>
			@await RenderBodyAsync()
		</div>
	</main>
	<script src="@Model.Static("main.js")"></script>
	</body>
	</html>
}
else
{
<!DOCTYPE html>
<html lang="en" data-accent-color="blue" data-content_root="./">
@(await RenderPartialAsync(_Head.Create(Model)))
@(await RenderPartialAsync<_Announcement>())
<body>
<div class="sy-head">
	<div class="sy-head-blur"></div>
	<div class="sy-head-inner sy-container mx-auto">
		<a class="sy-head-brand" href="/index.html">
			<img class="light-logo" src="@Model.Static("logo-light.svg")" alt="Elastic" height="28" loading="lazy">
			<img class="dark-logo" src="@Model.Static("logo-dark.svg")" alt="Elastic" height="28" loading="lazy">
			<strong>Elastic</strong>
		</a>
		@(await RenderPartialAsync<_HeadNav>())
	</div>
</div>
<div class="sy-page sy-container flex mx-auto">
	@(new HtmlString(Model.NavigationHtml))
	@(await RenderPartialAsync(_TableOfContents.Create(Model)))
	<main class="sy-main w-full max-sm:max-w-full print:pt-6">
		<div class="sy-breadcrumbs" role="navigation">
			<div class="sy-breadcrumbs-inner flex items-center">
				<div class="md:hidden mr-3">
					<button class="js-menu" aria-label="Menu" type="button" aria-controls="lside" aria-expanded="false">
						<i class="i-lucide menu"></i>
					</button>
				</div>
				<ol class="flex-1" itemscope="" itemtype="https://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
						<a itemprop="item" href="#">
							<span itemprop="name">Elastic</span>
						</a>
						<span>/</span>
						<meta itemprop="position" content="1">
					</li>
					@foreach (var item in Model.Parents.Reverse())
					{
						<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
							<a itemprop="item" href="@item.Url">
								<span itemprop="name">@item.NavigationTitle</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="2">
						</li>
					}
				</ol>
				<div class="xl:hidden ml-1">
					<button class="js-menu" aria-label="Show table of contents" type="button" aria-controls="rside" aria-expanded="false">
						<i class="i-lucide outdent"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="flex flex-col break-words justify-between">
			<div class="min-w-0 max-w-6xl px-6 pb-6 pt-8 xl:px-12">
				<article class="yue" role="main">
					@await RenderBodyAsync()
				</article>
				<button class="back-to-top" type="button" data-visible="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8v12z"></path>
					</svg>
					<span>Back to top</span>
				</button>
				<div class="navigation flex print:hidden">
					@if (Model.Previous != null)
					{
					<div class="navigation-previous">
						<i class="i-lucide chevron-left"></i>
						<a href="@Model.Previous.Url">
							<div class="page-info">
								<span>Previous</span>
								<div class="title">@Model.Previous.NavigationTitle</div>
							</div>
						</a>
					</div>
					}
					@if (Model.Next != null)
					{
					<div class="navigation-next">
						<a href="@Model.Next.Url">
							<div class="page-info">
								<span>Next</span>
								<div class="title">@Model.Next.NavigationTitle</div>
							</div>
							<i class="i-lucide chevron-right"></i>
						</a>
					</div>
					}
				</div>
			</div>
		</div>
	</main>
</div>
@(await RenderPartialAsync<_Footer>())
@(await RenderPartialAsync(_Scripts.Create(Model)))
@await RenderSectionAsync("scripts")

</body>
</html>
}
