@inherits RazorSlice<Elastic.Documentation.Site.GlobalLayoutViewModel>
@using FontPreloader = Elastic.Documentation.Site.FileProviders.FontPreloader
	<meta charset="utf-8">
	<title>@Model.Title</title>
	<meta name="description" content="@Model.Description">
	@foreach (var fontFile in await FontPreloader.GetFontUrisAsync(@Model.UrlPathPrefix))
	{
		<link rel="preload" href="@fontFile" as="font" type="font/woff2" crossorigin>
	}
	<link rel="stylesheet preload" as="style" type="text/css" href="@Model.Static("styles.css")" crossorigin/>
	@if (Model.CanonicalBaseUrl is not null)
	{
		<link rel="canonical" href="@Model.CanonicalUrl" />
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@if (Model.GoogleTagManager.Enabled)
	{
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl+'@(new HtmlString(Model.GoogleTagManager.QueryString()))';f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','@Model.GoogleTagManager.Id');
		</script>
	}
	@await RenderPartialAsync(_Favicon.Create())
	<meta name="robots" content="@(Model.AllowIndexing ? "index, follow" : "noindex, nofollow")">
	<meta name="htmx-config" content='{"selfRequestsOnly": true}'>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="@Model.Title"/>
	<meta property="og:description" content="@Model.Description"/>
	<meta property="og:image" content="https://www.elastic.co/static-res/images/social_media_default.png"/>
	<meta property="og:image:alt" content="Elastic | The Search AI Company"/>
	@if (!string.IsNullOrEmpty(Model.CanonicalUrl))
	{
		<meta property="og:url" content="@Model.CanonicalUrl" />
	}
