@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>
<ol id="breadcrumbs" class="block items-center w-full py-6" itemscope="" itemtype="https://schema.org/BreadcrumbList">
	<li class="inline text-ink-light text-sm leading-[1.2em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a
			itemprop="item"
			href="@Model.Link("/")"
		>
			<span itemprop="name" class="hover:text-black">
				Docs
			</span>
		</a>
		<meta itemprop="position" content="1">
	</li>
	@{
		var firstCrumb = Model.Parents.Reverse().Skip(1).FirstOrDefault();
	}
	@if (firstCrumb != null)
	{
		<li class="inline text-ink-light text-sm leading-[1.2em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item"
				href="@firstCrumb.Url"
				@Htmx.GetHxAttributes(firstCrumb.Url, Model.CurrentDocument.NavigationRoot.Id == firstCrumb.NavigationRoot.Id)
			>
				<span itemprop="name" class="hover:text-black">@firstCrumb.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
	}
	@{
		var crumbs = Model.Parents.Reverse().Skip(2).TakeLast(2).ToList();
	}

	@if (crumbs.Count < Model.Parents.Reverse().Skip(2).Count())
	{
		<li class="inline text-ink-light text-sm leading-[1.2em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			…
		</li>
	}
	
	@for (var i = 0; i < crumbs.Count; i++)
	{
	    var item = crumbs[i];
		<li class="inline text-ink-light text-sm leading-[1.2em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item" 
				href="@item.Url"
				@Htmx.GetHxAttributes(item.Url, Model.CurrentDocument.NavigationRoot.Id == item.NavigationRoot.Id)
			>
				<span itemprop="name" class="hover:text-black">@item.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="@(i+3)">
		</li>
	}
	<li class="inline text-ink-light text-sm leading-[1.2em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<span class="px-1">/</span>
	</li>
</ol>
