@using Elastic.Markdown.Helpers
@inherits RazorSlice<LayoutViewModel>
<ol id="breadcrumbs" class="block items-center w-full py-6" itemscope="" itemtype="https://schema.org/BreadcrumbList">
	<li class="inline text-grey-80 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a
			itemprop="item"
			href="@Model.Link("/")"
			hx-get="@Model.Link("/")"
			hx-select-oob="@Htmx.GetHxSelectOob(Model.Features, Model.UrlPathPrefix, Model.Link("/"), Model.CurrentDocument.Url)"
			hx-swap="none"
			hx-push-url="true"
			hx-indicator="#htmx-indicator"
			preload="@Htmx.GetPreload()"
			>
			<span itemprop="name" class="hover:text-black">
				Home
			</span>
		</a>
		<meta itemprop="position" content="1">
	</li>
	@{
		var firstCrumb = Model.Parents.Reverse().Skip(1).FirstOrDefault();
	}
	@if (firstCrumb != null)
	{
		<li class="inline text-grey-80 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item"
				href="@firstCrumb.Url"
				hx-get="@firstCrumb.Url"
				hx-select-oob="@Htmx.GetHxSelectOob(Model.Features, Model.UrlPathPrefix, firstCrumb.Url, Model.CurrentDocument.Url)"
				hx-swap="none"
				hx-push-url="true"
				hx-indicator="#htmx-indicator"
				preload="@Htmx.GetPreload()"
			>
				<span itemprop="name" class="hover:text-black">@firstCrumb.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
	}
	@{
		var crumbs = Model.Parents.Reverse().Skip(2).TakeLast(2).ToList();
	}

	@if (crumbs.Count < Model.Parents.Reverse().Skip(2).Count())
	{
		<li class="inline text-grey-80 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			…
		</li>
	}
	
	@for (var i = 0; i < crumbs.Count; i++)
	{
	    var item = crumbs[i];
		<li class="inline text-grey-80 text-sm leading-[1.2em] tracking-[-0.02em] text-pretty" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
			<span class="px-1">/</span>
			<a
				itemprop="item" 
				href="@item.Url"
				hx-get="@item.Url"
				hx-select-oob="@Htmx.GetHxSelectOob(Model.Features, Model.UrlPathPrefix, item.Url, Model.CurrentDocument.Url)"
				hx-swap="none"
				hx-push-url="true"
				hx-indicator="#htmx-indicator"
				preload="@Htmx.GetPreload()"
			>
				<span itemprop="name" class="hover:text-black">@item.NavigationTitle</span>
			</a>
			<meta itemprop="position" content="@(i+2)">
		</li>
	}
	<li class="inline text-grey-80 text-sm leading-[1.2em] tracking-[-0.02em]" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<span class="px-1">/</span>
	</li>
</ol>
