@inherits RazorSlice<LayoutViewModel>
@using Elastic.Markdown.Helpers
<head>
	<title>@Model.Title</title>
	@foreach (var fontFile in await FontPreloader.GetFontUrisAsync(@Model.UrlPathPrefix))
	{
		<link rel="preload" href="@fontFile" as="font" type="font/woff2" crossorigin>
	}
	<link rel="stylesheet preload" as="style" type="text/css" href="@Model.Static("styles.css")" crossorigin/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@await RenderPartialAsync(_Favicon.Create())
	<meta name="robots" content="@(Model.AllowIndexing ? "index, follow" : "noindex, nofollow")">
	<meta name="htmx-config" content='{"selfRequestsOnly": true}'>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Elastic Docs v3"/>
	<meta name="twitter:card" content="summary"/>
</head>
