@inherits RazorSlice<LayoutViewModel>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="@(Model.AllowIndexing ? "index, follow" : "noindex, nofollow")">
	<title>@Model.Title</title>
	<link rel="index" title="Index" href="@Model.Link("genindex.html")"/>
	<link rel="search" title="Search" href="@Model.Link("search.html")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("pygments.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("shibuya.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("mystnb.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("copybutton.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("togglebutton.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("sphinx-design.min.css")"/>
	<link media="print" rel="stylesheet" type="text/css" href="@Model.Static("/_static/print.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("custom.css")"/>
	<link rel="stylesheet" type="text/css" href="@Model.Static("atom-one-light.css")"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	<style>
		:root {
			--sy-f-text: "Inter", var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
			--sy-f-heading: "Inter", var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
		}
	</style>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Elastic Docs v3"/>
	<meta name="twitter:card" content="summary"/>
</head>
