@inherits RazorSlice<TreeItemModel>
@foreach (var file in Model.SubTree.Files)
{
	var current = file == Model.SubTree.CurrentFile ? "current" : string.Empty;
<li class="toctree-l@(Model.SubTree.Level + 1) @current"><a class="reference internal @current" href="@file.Url">@file.Title</a>
</li>
}
@foreach (var g in Model.SubTree.Nested)
{
	var current = g.Current || g.Index == g.CurrentFile ? "current" : string.Empty;
	var currentFile = g.Index == g.CurrentFile ? "current" : string.Empty;
<li class="toctree-l@(g.Level) @current"><a class="reference internal @currentFile" href="@g.Index?.Url">@g.Index?.Title</a>@if (@g.Files.Length > 0 || g.Nested.Length > 0) {<ul>@await RenderPartialAsync(Elastic.Markdown.Slices.Layout._TocTreeNav.Create(new TreeItemModel
		{
			Level = g.Level,
			Index = g.Index,
			SubTree = g
		}))</ul>}
</li>
}
