@using Elastic.Markdown.Helpers
@using Elastic.Markdown.IO.Navigation
@inherits RazorSlice<NavigationTreeItem>
@{
	var isTopLevel = Model.Level == 0;
}
@foreach (var item in Model.SubTree.NavigationItems)
{
	var id = item.Id;
	if (item is FileNavigationItem file && Model.SubTree.IndexFileName != file.File.FileName)
	{
		var f = file.File;
		<li class="flex group/li pr-8 @(isTopLevel ? "font-semibold mt-6" : "mt-4")">
			<a
				href="@f.Url"
				@Htmx.GetNavHxAttributes(Model.IsPrimaryNavEnabled && f.NavigationRoot.Id == Model.RootNavigationId || true)
				class="sidebar-link group-[.current]/li:text-blue-elastic!"
				id="page-@id"
				>
				@f.NavigationTitle
			</a>
		</li>
	}
	else if (item is GroupNavigationItem { Group: { NavigationItems.Count: 0, Index: not null } } group)
	{
		var f = group.Group.Index;
		<li class="flex group/li pr-4 @(isTopLevel ? "font-semibold mt-6 pr-4" : "ml-4")">
			<a
				href="@f.Url"
				@Htmx.GetNavHxAttributes(Model.IsPrimaryNavEnabled && f.NavigationRoot.Id == Model.RootNavigationId || true)
				class="sidebar-link group-[.current]/li:text-blue-elastic!"
				id="page-@id"
			>
				@f.NavigationTitle
			</a>
		</li>
	}
	else if (item is GroupNavigationItem folder)
	{
		var g = folder.Group;
		<li class="flex flex-wrap group-navigation @(isTopLevel ? "mt-6" : "mt-4")">
			<div class="peer grid grid-cols-[1fr_auto] w-full">
				<a
					href="@(g.Index?.Url ?? "")"
					@Htmx.GetNavHxAttributes(Model.IsPrimaryNavEnabled && g.NavigationRootId == Model.RootNavigationId || true)
					id="page-@(g.Index?.Id ?? id)"
					class="sidebar-link pr-2 content-center @(isTopLevel ? "font-semibold" : "")">
					@(g.Index?.NavigationTitle ?? (g as TableOfContentsTree)?.Source.ToString() ?? "Untitled")
				</a>
				<label for="@id" class="group/label flex mr-2 items-start">
					<div class="hover:bg-grey-20 rounded-sm p-1 cursor-pointer">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="shrink-0 -rotate-90 group-has-checked/label:rotate-0 w-3.5">
							<path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
						</svg>
					</div>
					<input
						id="@id"
						type="checkbox"
						class="hidden"
						aria-hidden="true">
				</label>
			</div>
			@if (g.NavigationItems.Count > 0)
			{
				<ul class="w-full hidden peer-has-checked:block ml-4">
					@await RenderPartialAsync(_TocTreeNav.Create(new NavigationTreeItem
					{
						IsPrimaryNavEnabled = Model.IsPrimaryNavEnabled,
						IsGlobalAssemblyBuild = Model.IsGlobalAssemblyBuild,
						Level = Model.Level + 1,
						SubTree = g,
						RootNavigationId = Model.RootNavigationId
					}))
				</ul>
			}
		</li>
	}
}
